html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  border-collapse: collapse;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 17%);
  padding: 0;
  margin: 0;
  font-family: "helvetica", sans-serif;
  text-wrap-mode: wrap;
}
body iframe {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: -moz-min-content;
  height: min-content;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(208, 208, 208);
}
#root::-webkit-scrollbar {
  width: 0;
}
#root .visitorUI {
  display: none;
}
#root .userUI {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
#root .userUI .userHeader {
  grid-area: header;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50px min-content min-content 15px;
  grid-template-areas: "userNav" "dashUI" "trainingHelpUI" "userSchedule";
}
#root .userUI .userHeader .userNav {
  grid-area: userNav;
  background-color: hsl(330, 58%, 32%);
}
#root .userUI .userHeader .userNav .phaseToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 30px;
  background-color: hsl(181, 63%, 17%);
}
#root .userUI .userHeader .userNav .phaseToggle button {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#root .userUI .userHeader .userNav .phaseToggle button:nth-of-type(1) {
  width: calc(100% - 25px);
  left: 0;
  text-align: left;
  letter-spacing: 1.5px;
  padding-left: 10px;
  font-weight: 600;
  color: white;
}
#root .userUI .userHeader .userNav .phaseToggle button:nth-of-type(2) {
  width: 25px;
  right: 0;
  padding: 0;
}
#root .userUI .userHeader .dashUI {
  transition: height 1s;
  width: 100vw;
  background-color: hsl(330, 58%, 32%);
  grid-area: dashUI;
  overflow: hidden;
  height: calc(100vh - 70px);
  height: 0;
}
#root .userUI .userHeader .userSchedule {
  background-color: rgba(0, 0, 0, 0.4);
  grid-area: userSchedule;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.705);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: height 1s;
  width: 100vw;
  height: 90vh;
  height: 10px;
  color: white;
}
#root .userUI .userHeader .userSchedule div {
  width: 1%;
  margin: 0;
}
#root .userUI .userHeader .userSchedule .schedGap {
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
#root .userUI .userHeader .userSchedule .activityLogIntervals {
  height: 15px;
  background-color: hsl(181, 63%, 17%);
}
#root .userUI .userHeader .userSchedule .schedClock {
  background-color: hsl(202, 51%, 47%);
  width: 4%;
  height: 15px;
  text-align: center;
}
#root .userUI .userHeader .trainingUI {
  background-color: purple;
  transition: height 1s;
  grid-area: trainingHelpUI;
  height: calc(100vh - 70px);
  height: 0;
  overflow: hidden;
}
#root .userUI .userHeader .helpUI {
  background-color: rgb(135, 20, 177);
  grid-area: trainingHelpUI;
  transition: height 1s, width 1s, margin 1s;
  overflow: hidden;
  width: calc(100vw - 20px);
  margin-left: 10px;
  width: 360px;
  margin-left: calc(100% - 370px);
  height: calc(100vh - 60px);
  height: 0;
}
#root .userUI .writerUI {
  position: absolute;
  top: 50px;
  left: 0;
  display: block;
  background-color: hsl(330, 58%, 32%);
  background-color: rgb(31, 77, 163);
  height: calc(100vh - 50px);
  width: calc(100vw - 20px);
  padding: 0 10px;
  white-space: pre-wrap;
}
#root .userUI .writerUI .wShelves {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  top: 0;
  left: 0;
  width: 100vw;
}
#root .userUI .writerUI .wShelves .shelvesContainer {
  transition: width 1s;
  height: calc(100vh - 45px);
  overflow: hidden;
  overflow-y: scroll;
}
#root .userUI .writerUI .wShelves .shelvesContainer .wShelf {
  background-color: hsla(0, 0%, 0%, 0.2);
  margin: 10px 10px 0 10px;
  height: 200px;
}
#root .userUI .writerUI .wShelves .shelvesContainer .wShelf:first-of-type {
  margin-top: 20px;
}
#root .userUI .writerUI .wShelves .shelvesContainer .wShelf:last-of-type {
  margin-bottom: 60px;
}
#root .userUI .writerUI .wShelves .shelvesContainer::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  width: 0;
}
#root .userUI .writerUI .wShelves .shelvesBtn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.383);
  font-size: 30px;
  font-weight: 600;
}
#root .userUI .writerUI .wShelves .wScreen {
  transition: width 1s;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
#root .userUI .writerUI .wShelves .wScreen .testUI {
  position: absolute;
  top: 100px;
  left: 0px;
  height: 300px;
  width: 50vw;
  background-color: hsl(330, 58%, 32%);
  display: block;
  display: none;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.486);
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: width 1s;
  width: calc(100% - 35px);
  height: calc(100% - 5px);
  overflow: hidden;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testAccount {
  width: 100%;
  margin: 0;
  overflow: hidden;
  transition: height 1s;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testAccount nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testAccount nav button {
  width: 20px;
  height: 20px;
  margin: 5px 0 0 5px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testAccount nav button:first-of-type {
  width: 80px;
  margin-right: auto;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testAccount nav button:last-of-type {
  width: 60px;
  margin-right: 5px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testDash {
  width: 100%;
  transition: height 1s;
  margin: 5px 0 0 0;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: 20px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testUser .testInterfaces {
  width: 100%;
  margin: 5px 0 0 0;
  height: calc(100% - 65px);
  transition: height 1s;
  background-color: hsl(181, 63%, 17%);
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testAdmin {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: calc(100% - 10px);
  transition: width 1s;
  background-color: hsl(202, 51%, 47%);
  overflow: hidden;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testAdmin .testChats {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testAdmin .testChats .testChat {
  margin: 5px 5px 0 5px;
  padding: 0;
  border: none;
  border-radius: 2.5px;
  line-height: 15px;
  vertical-align: middle;
  transition: height 1s, width 1s;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testAdmin .testChats .testChat.chatActive {
  height: 100px;
  width: 85px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testAdmin .testChats .testChat.chatInactive {
  height: 15px;
  width: 15px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI .testAdmin .testChatQueues {
  margin: 5px 5px 0 5px;
  padding: 0;
  border: none;
  border-radius: 2.5px;
  overflow: hidden;
  width: 15px;
  height: 45px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI.openAccount .testUser .testAccount {
  height: calc(100% - 30px);
}
#root .userUI .writerUI .wShelves .wScreen .testUI.openAccount .testUser .testDash {
  margin-bottom: 6px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI.openDash .testUser .testDash {
  height: calc(100% - 40px);
  margin-bottom: 6px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI.openInterface .testUser .testInterfaces {
  margin-bottom: 5px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI.adminOpen .testUser {
  width: calc(100% - 115px);
}
#root .userUI .writerUI .wShelves .wScreen .testUI.adminOpen .testAdmin {
  width: 100px;
}
#root .userUI .writerUI .wShelves .wScreen .testUI.adminClosed .testUser {
  width: calc(100% - 45px);
}
#root .userUI .writerUI .wShelves .wScreen .testUI.adminClosed .testAdmin {
  width: 30px;
}
#root .userUI .writerUI .wShelves.shelvesMax .shelvesContainer {
  width: 360px;
}
#root .userUI .writerUI .wShelves.shelvesMax .wScreen {
  width: calc(100vw - 360px);
}
#root .userUI .writerUI .wShelves.shelvesMin .shelvesContainer {
  width: 60px;
}
#root .userUI .writerUI .wShelves.shelvesMin .wScreen {
  width: calc(100vw - 60px);
}
#root .userUI .writerUI .wBooks {
  position: absolute;
}
#root .userUI .adminUI {
  position: absolute;
  transition: bottom 1s;
  left: 15px;
  display: grid;
  border-radius: 8px 8px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 75px);
  overflow: hidden;
  width: calc(100vw - 30px);
  grid-template-rows: 60px auto;
  grid-template-columns: auto;
  bottom: -120vh;
  bottom: 0;
}
#root .userUI .adminUI .adminTabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
}
#root .userUI .adminUI .adminTabs button {
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  vertical-align: top;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 0 10px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 4px 4px 0 0;
  transition: margin 1s, height 1s, padding 1s;
  height: 30px;
  margin: 20px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
#root .userUI .adminUI .adminTabs button b {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.3);
  height: 30px;
}
#root .userUI .adminUI .adminTabs button:first-child {
  padding: 0 20px;
  background-color: hsl(181, 63%, 17%);
  color: rgba(255, 255, 255, 0.9);
  height: 40px;
  margin: 10px 0 0 10px;
}
#root .userUI .adminUI .adminTabs button:first-child b {
  color: rgba(0, 0, 0, 0.5);
}
#root .userUI .adminUI .adminTabs button:last-child {
  background-color: hsl(181, 63%, 17%);
  margin: 10px 10px 0 auto;
  height: 30px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
}
#root .userUI .adminUI .adminDeskTool {
  height: calc(100% - 60px);
  background-color: hsl(181, 63%, 17%);
  bottom: 0;
  right: 10px;
  position: absolute;
  transition: width 1s ease;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 0 0;
  display: grid;
  grid-template-rows: 50px auto;
  width: calc(100% - 80px);
  width: calc(100% - 410px);
}
#root .userUI .adminUI .adminChatTool {
  height: calc(100% - 80px);
  background-color: rgba(0, 0, 0, 0.4);
  transition: width 1s;
  position: absolute;
  bottom: 10px;
  border-radius: 4px 0 0 4px;
  left: 10px;
  width: 70px;
  width: 390px;
}
#root .planUI {
  position: fixed;
  bottom: 5px;
  right: 5px;
  transition: height 1s, width 1s;
  border-radius: 4px;
  background-color: hsl(49, 78%, 51%);
  overflow: hidden;
}
#root .planUI .planToggle {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: hsl(49, 78%, 51%);
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
#root .planUI .planContent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  bottom: 30px;
  transition: height 1s;
  overflow-x: hidden;
  overflow-y: scroll;
}
#root .planUI .planContent::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
}
#root .planUI .planContent h3 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 18px;
  text-align: center;
  margin: 50px 0 10px 10px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 4px;
}
#root .planUI .planContent h3:first-child {
  margin-top: 10px;
}
#root .planUI .planContent p {
  padding: 0 10px;
  text-indent: 40px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
#root .planUI .planContent ul {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0 0 10px;
}
#root .planUI .planContent ul:last-child {
  margin-bottom: 10px;
}
#root .planUI .planContent ul p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 0;
  text-indent: 0;
  color: rgba(0, 0, 0, 0.6);
}
#root .planUI .planContent ul p:nth-child(1) b {
  font-weight: 700;
  letter-spacing: 3px;
  color: black;
}
#root .planUI .planContent ul p {
  line-height: 24px;
  text-indent: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0 0 5px;
}
#root .planUI .planContent ul li {
  background-color: hsl(49, 78%, 51%);
  margin: 5px 0 0 0;
  border-radius: 4px;
  padding: 5px;
  text-indent: 10px hanging;
  line-height: 20px;
}
#root .planUI .planContent ul li b {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#root .planUI.planActive {
  width: 400px;
  height: calc(100vh - 10px);
}
#root .planUI.planActive .planContent {
  height: calc(100vh - 45px);
}
#root .planUI.planInactive {
  height: 35px;
  width: 70px;
}
#root .planUI.planInactive .planContent {
  height: 0;
}/*# sourceMappingURL=style.css.map */