html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  border-collapse: collapse;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 17%);
  padding: 0;
  margin: 0;
  font-family: "helvetica", sans-serif;
  text-wrap-mode: wrap;
}
body iframe {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: -moz-min-content;
  height: min-content;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(208, 208, 208);
}
#root::-webkit-scrollbar {
  width: 0;
}
#root .visitorUI {
  display: none;
}
#root .userUI {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}
#root .userUI .userHeader {
  grid-area: header;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 45px min-content 15px min-content;
  grid-template-areas: "userNav" "dashUI" "userSchedule" "trainingHelpUI";
}
#root .userUI .userHeader .userNav {
  grid-area: userNav;
  background-color: hsl(330, 58%, 32%);
}
#root .userUI .userHeader .userNav .phaseToggle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100px;
  height: 35px;
  background-color: hsl(181, 64%, 25%);
}
#root .userUI .userHeader .userNav .phaseToggle button {
  height: 35px;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#root .userUI .userHeader .userNav .phaseToggle button:nth-of-type(1) {
  width: calc(100% - 35px);
  left: 0;
}
#root .userUI .userHeader .userNav .phaseToggle button:nth-of-type(2) {
  width: 35px;
  right: 0;
}
#root .userUI .userHeader .dashUI {
  transition: height 1s;
  width: 100vw;
  background-color: green;
  grid-area: dashUI;
  overflow: hidden;
  height: calc(100vh - 50px);
  height: 0;
}
#root .userUI .userHeader .userSchedule {
  background-color: rgba(0, 0, 0, 0.1);
  grid-area: userSchedule;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.705);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 10px;
  color: white;
}
#root .userUI .userHeader .userSchedule div {
  width: 1%;
  margin: 0;
}
#root .userUI .userHeader .userSchedule .schedGap {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.416);
  text-align: center;
}
#root .userUI .userHeader .userSchedule .activityLogIntervals {
  height: 15px;
  background-color: hsl(181, 64%, 25%);
}
#root .userUI .userHeader .userSchedule .schedClock {
  background-color: hsl(202, 51%, 47%);
  width: 4%;
  height: 15px;
  text-align: center;
}
#root .userUI .userHeader .trainingUI {
  background-color: purple;
  transition: height 1s;
  grid-area: trainingHelpUI;
  height: calc(100vh - 50px);
  height: 0;
  overflow: hidden;
}
#root .userUI .userHeader .helpUI {
  background-color: rgb(135, 20, 177);
  grid-area: trainingHelpUI;
  transition: height 1s, width 1s, margin 1s;
  overflow: hidden;
  width: calc(100vw - 20px);
  margin-left: 10px;
  width: 360px;
  margin-left: calc(100% - 370px);
  height: calc(100vh - 60px);
  height: 0;
}
#root .userUI .writerUI {
  position: absolute;
  top: 45px;
  left: 0;
  display: block;
  background-color: hsl(330, 58%, 32%);
  height: calc(100vh - 45px);
  width: 100vw;
  border-right: 5px solid hsl(330, 58%, 32%);
  padding: 0 10px;
  white-space: pre-wrap;
}
#root .userUI .writerUI .wShelves {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  top: 0;
  left: 0;
  width: 100vw;
}
#root .userUI .writerUI .wShelves .shelvesContainer {
  background-color: rgba(0, 0, 0, 0.4);
  transition: width 1s;
  height: calc(100vh - 45px);
  overflow: hidden;
  overflow-y: scroll;
}
#root .userUI .writerUI .wShelves .shelvesContainer .wShelf {
  background-color: hsla(0, 0%, 0%, 0.2);
  margin: 10px 10px 0 10px;
  height: 200px;
}
#root .userUI .writerUI .wShelves .shelvesContainer .wShelf:first-of-type {
  margin-top: 20px;
}
#root .userUI .writerUI .wShelves .shelvesContainer .wShelf:last-of-type {
  margin-bottom: 60px;
}
#root .userUI .writerUI .wShelves .shelvesContainer::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  width: 0;
}
#root .userUI .writerUI .wShelves .shelvesBtn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.383);
  font-size: 30px;
  font-weight: 600;
}
#root .userUI .writerUI .wShelves .wScreen {
  transition: width 1s;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
#root .userUI .writerUI .wShelves.shelvesMax .shelvesContainer {
  width: 360px;
}
#root .userUI .writerUI .wShelves.shelvesMax .wScreen {
  width: calc(100vw - 360px);
}
#root .userUI .writerUI .wShelves.shelvesMin .shelvesContainer {
  width: 60px;
}
#root .userUI .writerUI .wShelves.shelvesMin .wScreen {
  width: calc(100vw - 60px);
}
#root .userUI .writerUI .wBooks {
  position: absolute;
}
#root .userUI .adminUI {
  position: absolute;
  transition: top 1s;
  left: 15px;
  display: block;
  border-radius: 8px;
  background-color: rgb(136, 32, 32);
  box-shadow: inset 0 2px 8px 4px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 65px);
  width: calc(100vw - 30px);
  top: 55px;
  top: -120vh;
}/*# sourceMappingURL=style.css.map */