@use "sass:math";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-wrap-mode: wrap;
    iframe {display: none;}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







#root {
    position: absolute;
    top: 0;
    left: 0;
    height: min-content;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    // overflow: hidden;
    background-color: hsl(0, 0%, 27%);
    color: white;
    &::-webkit-scrollbar {width: 0;} // REMOVE ON PUBLISH -----------------------------------------------------------------------

    .adminUI {
        width: calc(100vw - 880px);
        // width: 150px;
        height: calc(100vh - 40px);
        height: 40px;
        bottom: 20px;
        right: 440px;
        background-color: rgba(0, 0, 0, 0.3);
        // margin: 20px;
        overflow: hidden;
        overflow-y: auto;
        box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.3) inset;
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.25);
        }


        // display: none;


        ul {display: none; width: 500px; li {width: 480px; border-radius: 4px; margin: 10px; padding: 10px; background-color: rgba(0, 0, 0, 0.541);}}
        
    }

    .userProjectsUI {
        width: 100vw;
        height: 100vh;
        // background-color: rgb(52, 98, 197);
        // overflow-y: auto;
        // overflow-x: hidden;
        overflow: hidden;
        position: absolute;
        top: 0;
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.25);
        }


        // display: none;

        section:nth-of-type(1) {
            width: calc(100vw - 880px);
            height: calc(100vh - 100px);
            position: absolute;
            top: 60px;
            left: 440px;
            transition: top 1s;
            background-color: rgba(0, 0, 0, 0.359);
        }
        section:nth-of-type(2) {
            // width: 400px;
            height: 790px;
            background-color: rgb(24, 104, 24);
            position: absolute;
            bottom: 20px;
            transition: left 1s, width 1s, height 1s;
            left: 20px;
            display: grid;
            overflow: hidden;
            grid-auto-rows: 260px;
            div {
                width: 380px;
                height: 250px;
                margin: 10px;
                border: none;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.4);
                button {width: 30px; height: 172px;margin: 70px 8px 0 0; cursor: pointer;}
                button:nth-of-type(1) {margin: 70px 8px 0 8px; cursor: default;}
            }
            div:nth-of-type(4) {
                width: calc(100vw - 550px);
                height: calc(100vh - 60px);
                position: absolute;
                transition: width 1s;
                margin: 0;
                left: 400px;
                top: 10px;
                background-color: rgba(0, 0, 0, 0.2);
                cursor: default;
            }
            
        }
        section:nth-of-type(3) {
            width: 400px;
            height: calc(100vh - 40px);
            position: absolute;
            top: 20px;
            transition: left 1s, width 1s;
            left: calc(100vw - 420px);
            background-color: rgb(121, 72, 48);
            display: grid;
            grid-auto-rows: calc(20% - 2px);
            overflow: hidden;
            div {
                width: 380px;
                height: calc(100% - 10px);
                border: none;
                margin: 10px 0 0 10px;
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.4);
                button {width: 30px; height: 80%; margin: 0 8px 0 0;}
                button:nth-of-type(1) {margin: 5% 8px 0 8px;}
            }
            div:nth-of-type(6) {
                width: calc(100vw - 550px);
                height: calc(100vh - 60px);
                position: absolute;
                left: 400px;
                top: 10px;
                margin: 0;
                transition: width 1s;
                background-color: rgba(0, 0, 0, 0.2);
                cursor: default;
            }
        }



    }
    .openHome {
        // Reader Bookshelf: 
        // Writer Bookshelf: 
        // Account: 
        // Admin: 
        section:nth-of-type(1) {top: 20px;}
        section:nth-of-type(2) {left: 20px; width: 400px;height: 790px;}
        section:nth-of-type(3) {left: calc(100vw - 420px); width: 400px;}
    }
    .openReaderProject {
        section:nth-of-type(1) {top: -100vh;}
        section:nth-of-type(2) {left: 20px; width: calc(100vw - 40px); height: calc(100vh - 40px);}
        section:nth-of-type(3) {left: 100vw; width: 400px;}
    }
    .openWriterProject {
        section:nth-of-type(1) {top: -100vh;}
        section:nth-of-type(2) {left: -400px; width: 400px; height: 790px;}
        section:nth-of-type(3) {left: 20px; width: calc(100vw - 40px);}
    }




    .userProjectUI {
        width: calc(100% - 500px);
        // height: calc(100% - 80px);
        // height: 200vh;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.103);
        margin: 20px;
        position: absolute;
        top: 0;
        right: 0;



        // display: none;


        ul {width: 500px; li {width: 480px; border-radius: 4px; margin: 10px; padding: 10px; background-color: rgba(0, 0, 0, 0.541);}}
    }

    .landingPage {
        width: calc(100vw - 40px);
        height: calc(100vh - 40px);
        background-color: rgb(148, 67, 67);
        margin: 20px;


        display: none;


        ul {
            width: calc(100% - 20px); 
            margin-left: 500px;
            li {
                width: 480px; 
                border-radius: 4px; 
                margin: 10px; 
                padding: 10px; 
                background-color: rgba(0, 0, 0, 0.541);
            }
        }

    }

    .registrationUI {
        width: 500px;
        height: 400px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: rgb(156, 115, 0);
        margin: 20px;
        
        
        // display: none;
        
        
        ul {
            margin: 0;
            width: calc(100% - 20px); 
            // width: 400px; 
            li {
                width: calc(100% - 20px); 
                border-radius: 4px; 
                margin: 10px; 
                padding: 10px; 
                background-color: rgba(0, 0, 0, 0.541);
            }
        }

    }

    .loginUI {
        width: 400px;
        height: 400px;
        background-color: rgb(48, 114, 18);
        margin: 20px;
        position: absolute;
        top: 150px;
        left: 10px;


        // display: none;


        ul {
            width: calc(100% - 20px); 
            margin: 0;
            li {
                // width: 480px; 
                width: calc(100% - 20px); 
                border-radius: 4px; 
                margin: 10px; padding: 10px; 
                background-color: rgba(0, 0, 0, 0.541);
            }
        }

    }

    main {
        position: absolute;
        border-radius: 4px;

        &::-webkit-scrollbar {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 0 4px 4px 0;
            
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0 4px 4px  0;
            
        }
        ul {
            li:nth-of-type(1) {
                background-color: rgba(0, 0, 0, 0.2); 
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 600;
            }
        }
    }
}