@use "sass:math";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-wrap-mode: wrap;
    iframe {display: none;}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







#root {
    position: absolute;
    top: 0;
    left: 0;
    height: min-content;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    // overflow: hidden;
    background-color: hsl(0, 0%, 56%);
    color: white;
    &::-webkit-scrollbar {width: 0;} // REMOVE ON PUBLISH -----------------------------------------------------------------------

    .visitorUI {
        display: none;
    }
    .userUI {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        
        
        
        .writerUI {
            background-color: rgba(255, 255, 255, 0.265);
            position: absolute;
            bottom: 0;
            right: 0;

            
            display: block;
            display: none;
            
        }
        .readerUI {
            background-color: rgba(255, 255, 255, 0.265);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            
            display: none;
            display: grid;

            grid-template-columns: 33vw 33vw 33vw;


        }
        .folderUI {
            background-color: rgba(255, 255, 255, 0.265);
            position: absolute;
            bottom: 0;
            

            display: block;
            display: none;

        }

        .mobileNavBtns {
            top: 0;
            height: 50px;
            width: 100vw;
            // background-color: green;


            button {
                width: 100px;
                padding: 0 10px 0 10px;
                text-transform: uppercase;
                height: 30px;
                font-weight: 600;
                font-size: 15px;
                border: none;
                margin: 10px;
                letter-spacing: 1px;
                cursor: pointer;
                
                &:nth-of-type(1) {
                    clip-path: polygon(0 0, 90px 0, 100px 15px, 90px 30px, 0 30px);
                    text-align: left;
                    
                }
                &:nth-of-type(3) {
                    clip-path: polygon(0 0, 90px 0, 100px 15px, 90px 30px, 0 30px);
                    text-align: left;
                    
                }
                &:nth-of-type(2) {
                    clip-path: polygon(100px 0, 10px 0, 0 15px, 10px 30px, 100px 30px);
                    text-align: right;
                }
                &:nth-of-type(4) {
                    clip-path: polygon(100px 0, 10px 0, 0 15px, 10px 30px, 100px 30px);
                    text-align: right;
                    
                }
            }
        }

    }
    .screenHome {
        background-color: black;
    }
    .screenWriter {
        background-color: orange;
    }
    .screenReader {
        background-color: green;

        
    }


}

//--------------------------------------------------------
//--------------------------------------------------------
//--------------------------------------------------------
// MEDIA QUERIES
//--------------------------------------------------------
//--------------------------------------------------------
//--------------------------------------------------------


// All Items ()
@media screen and (min-width:0px) {

    .userUI {

        .readerUI {
            width: 100vw;
            height: calc(100vh - 50px);
        }
        .writerUI {
            width: 100vw;
            height: calc(100vh - 50px);
        }
        .folderUI {
            width: 100vw;
            height: calc(100vh - 50px);

        }

    }

}

// 
@media screen and (min-width:400px) {

    .userUI {

        .readerUI {
            width: 20vw;
        }
        .writerUI {
            width: 20vw;
        }
        .folderUI {
            width: calc(60vw - 20px);
            left: calc(20vw + 10px);
        }
 
    }

}

// 
@media screen and (min-width:800px) {

    .userUI {

        .readerUI {
            width: 30vw;
        }
        .writerUI {
            width: 30vw;
        }
        .folderUI {
            width: calc(40vw - 20px);
            left: calc(30vw + 10px);
        }
 
    }

}

// 
@media screen and (min-width:1200px) {

    .userUI {

        .readerUI {
            width: 30vw;
        }
        .writerUI {
            width: 30vw;
        }
        .folderUI {
            width: calc(40vw - 20px);
            left: calc(30vw + 10px);
        }

    }

}

// 
@media screen and (min-width:1600px) {

    .userUI {

        .readerUI {
            width: 25vw;
        }
        .writerUI {
            width: 25vw;
        }
        .folderUI {
            width: calc(50vw - 20px);
            left: calc(25vw + 10px);
        }
        
    }


}

// 
@media screen and (min-width:2000px) {}