html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  border-collapse: collapse;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 17%);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-wrap-mode: wrap;
}
body iframe {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: -moz-min-content;
  height: min-content;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 17%);
  color: white;
}
#root::-webkit-scrollbar {
  width: 0;
}
#root .visitorUI {
  display: none;
}
#root .userUI {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#root .userUI .writerUI {
  background-color: rgba(0, 0, 0, 0.265);
  position: absolute;
  bottom: 0;
  transition: right 1s, width 1s;
  display: block;
}
#root .userUI .readerUI {
  background-color: rgba(0, 0, 0, 0.265);
  position: absolute;
  bottom: 0;
  transition: left 1s, width 1s;
  display: none;
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
}
#root .userUI .folderUI {
  background-color: rgba(255, 255, 255, 0.265);
  position: absolute;
  bottom: 0;
  transition: left 1s, width 1s;
  display: block;
}
#root .userUI .mobileNavBtns {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
}
#root .userUI .mobileNavBtns button {
  width: 100px;
  padding: 0 10px 0 10px;
  text-transform: uppercase;
  height: 30px;
  font-weight: 600;
  font-size: 15px;
  border: none;
  margin: 10px;
  letter-spacing: 1px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#root .userUI .mobileNavBtns button:nth-of-type(1) {
  clip-path: polygon(0 0, 90px 0, 100px 15px, 90px 30px, 0 30px);
  text-align: left;
}
#root .userUI .mobileNavBtns button:nth-of-type(3) {
  clip-path: polygon(0 0, 90px 0, 100px 15px, 90px 30px, 0 30px);
  text-align: left;
}
#root .userUI .mobileNavBtns button:nth-of-type(2) {
  clip-path: polygon(100px 0, 10px 0, 0 15px, 10px 30px, 100px 30px);
  text-align: right;
}
#root .userUI .mobileNavBtns button:nth-of-type(4) {
  clip-path: polygon(100px 0, 10px 0, 0 15px, 10px 30px, 100px 30px);
  text-align: right;
}

@media screen and (min-width: 0px) {
  .screenHome .writerUI {
    width: 100vw;
    height: calc(100vh - 50px);
    right: -100vw;
  }
  .screenHome .readerUI {
    width: 100vw;
    height: calc(100vh - 50px);
    left: -100vw;
  }
  .screenHome .folderUI {
    width: 100vw;
    height: calc(100vh - 50px);
    left: 0;
  }
  .screenHome .mobileNavBtns button:nth-of-type(1) {
    right: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenHome .mobileNavBtns button:nth-of-type(2) {
    left: 0;
    top: 0;
    transition: top 0.7s 0.7s;
  }
  .screenHome .mobileNavBtns button:nth-of-type(3) {
    right: 0;
    top: 0;
    transition: top 0.7s 0.7s;
  }
  .screenHome .mobileNavBtns button:nth-of-type(4) {
    left: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenReader .writerUI {
    width: 100vw;
    height: calc(100vh - 50px);
    right: -200vw;
  }
  .screenReader .readerUI {
    width: 100vw;
    height: calc(100vh - 50px);
    left: 0;
  }
  .screenReader .folderUI {
    width: 100vw;
    height: calc(100vh - 50px);
    left: 100vw;
  }
  .screenReader .mobileNavBtns button:nth-of-type(1) {
    right: 0;
    top: 0;
    transition: top 0.7s 0.7s;
  }
  .screenReader .mobileNavBtns button:nth-of-type(2) {
    left: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenReader .mobileNavBtns button:nth-of-type(3) {
    right: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenReader .mobileNavBtns button:nth-of-type(4) {
    left: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenWriter .writerUI {
    width: 100vw;
    height: calc(100vh - 50px);
    right: 0;
  }
  .screenWriter .readerUI {
    width: 100vw;
    height: calc(100vh - 50px);
    left: -200vw;
  }
  .screenWriter .folderUI {
    width: 100vw;
    height: calc(100vh - 50px);
    left: -100vw;
  }
  .screenWriter .mobileNavBtns button:nth-of-type(1) {
    right: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenWriter .mobileNavBtns button:nth-of-type(2) {
    left: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenWriter .mobileNavBtns button:nth-of-type(3) {
    right: 0;
    top: -50px;
    transition: top 0.7s;
  }
  .screenWriter .mobileNavBtns button:nth-of-type(4) {
    left: 0;
    top: 0;
    transition: top 0.7s 0.7s;
  }
}
@media screen and (min-width: 400px) {
  .screenHome .folderUI {
    width: 80vw;
    left: 10vw;
  }
}
@media screen and (min-width: 1600px) {
  .userUI .readerUI {
    width: 25vw;
  }
  .userUI .writerUI {
    width: 25vw;
  }
  .userUI .folderUI {
    width: calc(50vw - 20px);
    left: calc(25vw + 10px);
  }
}/*# sourceMappingURL=style.css.map */