@use "sass:math";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 17%);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-wrap-mode: wrap;
    iframe {display: none;}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$black0: rgba(0, 0, 0, 0);
$black1: rgba(0, 0, 0, .1);
$black2: rgba(0, 0, 0, .2);
$black3: rgba(0, 0, 0, .3);
$black4: rgba(0, 0, 0, .4);
$black5: rgba(0, 0, 0, .5);
$black6: rgba(0, 0, 0, .6);
$black7: rgba(0, 0, 0, .7);
$black8: rgba(0, 0, 0, .8);
$black9: rgba(0, 0, 0, .9);

$white0: rgba(255, 255, 255, 0);
$white1: rgba(255, 255, 255, .1);
$white2: rgba(255, 255, 255, .2);
$white3: rgba(255, 255, 255, .3);
$white4: rgba(255, 255, 255, .4);
$white5: rgba(255, 255, 255, .5);
$white6: rgba(255, 255, 255, .6);
$white7: rgba(255, 255, 255, .7);
$white8: rgba(255, 255, 255, .8);
$white9: rgba(255, 255, 255, .9);


$main: hsl(330, 58%, 32%);

// NOTE TO SELF: TO AVOID THE SCREENS SLIDING INTO VIEW WITH TRANSITION,
//            SET THE TRANSITION SPEED LEFT/RIGHT/TOP TO ZERO WHEN THE PAGE IS INACTIVE



#root {
    position: absolute;
    top: 0;
    left: 0;
    height: min-content;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    // overflow: hidden;
    background-color: rgb(208, 208, 208);
    // color: white;
    &::-webkit-scrollbar {width: 0;} // REMOVE ON PUBLISH -----------------------------------------------------------------------

    .visitorUI {
        display: none;
    }
    .userUI {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .userHeader {
            grid-area: header;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 90px;
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 30px min-content 10px min-content;
            grid-template-areas: "userNav" "dashUI" "userSchedule" "trainingHelpUI";
            .userNav {
                // background-color: blue;
                // width: 100vw;
                // height: 40px;
                grid-area: userNav;
                background-color: $main;
            }
            .dashUI {
                transition: height 1s;
                width: 100vw;
                background-color: green;
                grid-area: dashUI;
                overflow: hidden;
                
                
                
                height: calc(100vh - 50px); 
                height: 0;
            }
            .userSchedule {
                background-color: red;
                grid-area: userSchedule;
                box-shadow: 0 0px 10px black;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                
                width: 100vw;
                height: 10px;
                div {width: 1%; margin: 0;}
                .schedGap {
                    height: 10px;
                    background-color: rgba(0, 0, 0, 0.416);
                    text-align: right;
                }
                .schedInterval {
                    height: 15px;
                }
                .schedClock {
                    background-color: rgb(255, 255, 255);
                    width: 5%;
                    height: 10px;
                    text-align: center;
                    font-weight: 800;
                    letter-spacing: 1px;
                    font-size: 10px;
                }
            }
            .trainingUI {
                background-color: purple;
                transition: height 1s;
                grid-area: trainingHelpUI;
                height: calc(100vh - 50px); 
                height: 0;
                overflow: hidden;

            }
            .helpUI {
                background-color: rgb(135, 20, 177);
                grid-area: trainingHelpUI;
                transition: height 1s, width 1s, margin 1s;
                overflow: hidden;
                
                width: calc(100vw - 20px); margin-left: 10px;
                width: 360px; margin-left: calc(100% - 370px);
                height: calc(100vh - 60px);
                height: 0;
            }
        }
        
        
    }
    .writerUI {
        position: absolute;
        top: 80px;
        left: 0;
    }
    .adminUI {
        position: absolute;
        top: 50px;
        left: 20px;
        display: block;
        background-color: red;
        height: calc(100vh - 65px);
        width: calc(100vw - 40px);
    }


}

//--------------------------------------------------------
//--------------------------------------------------------
//--------------------------------------------------------
// MEDIA QUERIES
//--------------------------------------------------------
//--------------------------------------------------------
//--------------------------------------------------------

